*{
	box-sizing: border-box;
}


.todoList{
	width: 340px;
	height: 290px;
	padding: 10px 20px;
	margin: 15px 25px;
	background-color: #E0E0E0;
	overflow: auto;
	float: left;
	border-radius: 20px;

}

.listNameDisplay{
	height: 20px;
	color: #006064;
	text-align: center;
	font-weight: bold;
	font-family: arial;
	font-size: 20px;
	margin-top: 10px;
}

.itemInput{
	width: 85%;
	margin-top: 0;
	margin-bottom: 5px;
	float: left;
	margin-top: -10px;
}

.listDelete{
	width: 15%;
	float: left;
	margin-top: -10px;
}

.list{
	margin-left: -35px;
}